{% extends 'base.html' %}

{% block title %}
    <title>Edit Task</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br>
        <form method="POST" class="row">
            {% csrf_token %}

          <input type="text" class="form-control col-lg-6" value="{{ task_object.task }}" name="task">
          <input type="hidden" class="form-control col-lg-6" value="{{ task_object.done }}" name="done">

          <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
        </form>
    </div>
{% endblock content %}